/* Estilo general para centrar el login */
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f4f4;
}

.login-form {
  background-color: #fff;
  padding: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 320px;
  border: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

h2 {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
}

/* Cuadrado y sin bordes redondeados */
.form-group {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

input {
  padding: 10px;
  border: 1px solid #ccc;
  font-size: 14px;
  outline: none;
  transition: border-color 0.3s ease;
}

/* Estilos del botón solo para el Login */
.login-button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.login-button:hover {
  background-color: #0056b3;
}

.error-message {
  color: #dc3545; /* Rojo tradicional para errores */
  font-size: 0.875em;
  margin: 0;
}

.password-container {
  display: flex;
  align-items: center;
}

.password-container { 
  flex: 1;
}

.password-toggle-button {
  background-color: transparent;
  border: none;
  color: #007bff;
  cursor: pointer;
  margin-left: 10px;
  font-size: 0.9em;
}

.password-toggle-button:hover {
  text-decoration: underline;
}