.signup-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

.signup-form {
    background-color: #fff;
    padding: 40px;
    box-shadow: 0 0 10px rgba(0,0,0, 0.1);
    width: 320px;
    border: 1px solid #ccc;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.signup-title {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}

.form-group {
    display: felx;
    flex-direction: column;
    gap: 8px;
}

input {
    padding: 10px;
    border: 1px solid #ccc;
    font-size: 14px;
    outline: none;
    transition: border-color 0.3s ease;
}

.signup-button {
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;
    font-weight: bold;
    transform: background-color 0.3s ease;
}

.signup-button:hover{
    background-color: #218838;
}

.error {
    color: red;
    font-size: 12px;
}